.formWrapper{
  width: 500px;
  margin: 50px auto;
  display: flex;
}

.addInput{
  width: 350px;
  border: none;
  border-bottom: 4px solid #007bff;;
  outline: none;
  background: transparent;
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
}

.addButton{
  font-weight: 700;
}