.itemWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #007bff;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  background-color: #007bff;
  cursor: grab;
};

.deleteButton{
  background: transparent;
  border: none;
  outline: none;
  color: rgb(255, 122, 122);
  font-weight: 800;
  font-size: 18px;
  font-style: italic;
  cursor: pointer;
}